.blue-section {
  display: flex;
  justify-content: center;
  background-color: #34547a;
}

.container-blue-section {
  min-width: 100%;
  background-color: #34547a;
  display: flex;
  justify-content: center;
}
.item-blue-section {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}
.img-blue-section {
  padding-top: 4rem;
  padding-bottom: 3rem;
  /* position: relative; */
  /* padding-left: 54px; */
  
}
.info-blue-section {
  position: absolute;
  right: -5%;
  top: 40%;
  color: white;
  display: block;
}
.text-blue-section  {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
}
h2 {
  font-size: 16px;
}



.wrapper-image-blue {

}
@media screen and (min-width: 420px) {
  .item-blue-section {
    margin-left: 2rem;
  }
  .info-blue-section {
    position: absolute;
    right: 15%;
    top: 40%;
    color: white;
  }
}
@media screen and (min-width: 576px) {
  .blue-section {
    
  }
  .container-blue-section {

  }

  .img-blue-section {
    
  }
  .wrapper-image-blue {
  
  }
  .info-blue-section {
    position: absolute;
    right: 0;
    top: 40%;
    color: white;
  }
}

@media screen and (min-width: 768px) {

}
