.contact-me {
  padding: 100px 0;
  background-color: var(--second-bg-color); 
}

.contact-me-article {
  text-align: center;
}

.contact-me-text-margins {
  margin: 50px 0;
}

.contact-me-form {
  flex-direction: column;

}
.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-input,
.form-message {
  padding: 12px;
  border: 0;
}

.form-input {
  max-width: 45%;
  flex: 1 1 45%;
  margin-bottom: 20px;
}

.form-message {
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .input-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-input {
    max-width: 100%;
    width: 90%;
  }

  .form-message {
    max-width: 90%;
  }

  .form-input + .form-input {
    margin-left: 0;
  }
}