.page-footer {
  background-color: var(--accent-color);
}
.footer-content {
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.author-contact {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.footer-text {
  font-size: 13px;
  line-height: 1.6;
}
.social-media-link {
}
@media screen and (min-width: 576px) {
  .footer-content { 
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .author-contact {
    color: white;
    margin-bottom: 0;
    text-align: start;
  }
}