.page-footer {
  background-color: var(--accent-color);
}
.footer-content {
  padding: 50px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.author-contact {
  color: white;
}
.footer-text {
  font-size: 13px;
  line-height: 1.6;
}
.social-media-link {
}