.my-skills {
  padding: 60px 0;
  background-color: var(--second-bg-color);
}

.skills-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-level-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  width: 100%;
  gap: 1rem;
}


.progress-bar{
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #C4C4C4;

}

.progress-bar-filled {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25%;
  background-color: var(--accent-color);
}
.skills-img-wrapper{
  max-width: 50%;
  width: 100%;
}

.skills-img {
  height: inherit;
  width: 80%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width:992px) {
  .skills-article{
    flex-direction: column;
  }

  .skills-heading-centering {
    text-align: center;
  }

  .skill-level-container {
    max-width: 80%;
  }
  
  .skills-img-wrapper{
    margin-top: 20px;
    max-width: 100%;
  }
}