.welcome-screen {
  padding: 40px 0;
  background-color: var(--second-bg-color);
}
.welcome-img-wrapper {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}
.responsive-helper {
  padding-top: 65%;
  position: relative;
}
.welcome-img {
  max-width: 100%;
  width: inherit;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}
.welcome-article {
}

.main-heading-margins {
  margin: 1rem 0;
}

.btn-welcome-margins {
  margin: 0 auto;
  margin-top: 40px;
}

.text-content-align {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .welcome-img-wrapper {
    max-width: 70%;
  }
  .welcome-screen {
    padding: 60px 0;
  }
}

@media screen and (min-width: 992px) {
  .welcome-screen {
    padding: 100px 0;
  }
  .main-heading-margins {
    margin-top: 0;
    margin-bottom: 2.8rem;
  }
  .text-content-align {
    text-align: left;
  }
  .btn-welcome-margins {
    margin-left: 0;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .welcome-screen {
    padding: 120px 0;
  }
  .welcome-img-wrapper {
    max-width: 65%;
  }
}
